# ComodIT Account details
endpoint = "https://my.comodit.com/api"
username = "<user>"
password = "<password>"
organization = "My organization"

# Your openshift domain
domain = "example.com"

# Openshift Origin repository to use
# By default, the latest tested snapshot is used, you can override it here.
# To use the latest from nightly, use the following value.
#repo = "https://mirror.openshift.com/pub/openshift-origin/nightly/fedora-18/latest/x86_64/"

# Openshift cartridges to deploy on the node in ADDITION to the mandatory abstract, cron and haproxy cartridges.
# Changing this requires to run a cleanup/setup
#
cartridges = [
          "openshift-origin-cartridge-php-5.4",
          "openshift-origin-cartridge-ruby-1.9",
          "openshift-origin-cartridge-mysql-5.1"
          ]

# API Timeout 
time_out = 60 * 30  # seconds

# Your target platform settings
platform = {"name" : "Amazon EC2",
            "settings" : {
                     "ec2.instanceType": "m1.medium",
                     "ec2.securityGroups": "openshift",
                     "ec2.keyPair": "<Key name>",
                     "ec2.zone": "eu-west-1a"
                         }
            }

# Your target distribution settings
distribution = {"name" : "Fedora 18 (AMI)",
          "settings" : {}
          }
